@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700&subset=latin,vietnamese,latin-ext);


#dropdown-menu-0 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-0 .navbar-brand a {
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu-0 .nav .link,
#dropdown-menu-0 .dropdown-item {
  font-size: 1em;
  color: #080809;
}
#dropdown-menu-0 .navbar,
#dropdown-menu-0 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-0 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-0 .dropdown-menu a:hover,
#dropdown-menu-0 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-0 .navbar-toggler {
  color: #080809;
}
#header1-1 H1 {
  font-size: 60px;
  font-family: 'Slabo 27px', serif;
}
#header1-1 DIV {
  font-size: 32px;
}
#msg-box4-b .lead P {
  text-align: left;
}
#msg-box4-d .lead P {
  text-align: left;
}


#dropdown-menu-e .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-e .navbar-brand a {
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu-e .nav .link,
#dropdown-menu-e .dropdown-item {
  font-size: 1em;
  color: #080809;
}
#dropdown-menu-e .navbar,
#dropdown-menu-e .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-e .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-e .dropdown-menu a:hover,
#dropdown-menu-e .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-e .navbar-toggler {
  color: #080809;
}
#header1-u DIV {
  font-size: 48px;
}
#header1-u H1 {
  font-size: 48px;
  color: #080809;
}
#testimonials1-2a .card-block {
  text-align: left;
}
#testimonials1-2a .card-footer > div {
  text-align: left;
}
#testimonials1-2a .card-footer > small {
  text-align: right;
}
#testimonials1-2a .card-block EM {
  font-size: 23px;
}
#header3-w H3 {
  text-align: center;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 48px;
}

#dropdown-menu-m .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-m .navbar-brand a {
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu-m .nav .link,
#dropdown-menu-m .dropdown-item {
  font-size: 1em;
  color: #080809;
}
#dropdown-menu-m .navbar,
#dropdown-menu-m .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-m .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-m .dropdown-menu a:hover,
#dropdown-menu-m .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-m .navbar-toggler {
  color: #080809;
}
#header1-y H1 {
  font-size: 48px;
}
#msg-box4-o .lead P {
  text-align: center;
}
#msg-box4-p .lead P {
  text-align: center;
}
#msg-box4-t .lead P {
  text-align: center;
}
#content5-21 .mbr-section-title {
  text-align: center;
}
#features1-1z P {
  text-align: center;
}

#dropdown-menu-0 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-0 .navbar-brand a {
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu-0 .nav .link,
#dropdown-menu-0 .dropdown-item {
  font-size: 1em;
  color: #080809;
}
#dropdown-menu-0 .navbar,
#dropdown-menu-0 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-0 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-0 .dropdown-menu a:hover,
#dropdown-menu-0 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-0 .navbar-toggler {
  color: #080809;
}

#dropdown-menu-1m .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1m .navbar-brand a {
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu-1m .nav .link,
#dropdown-menu-1m .dropdown-item {
  font-size: 1em;
  color: #080809;
}
#dropdown-menu-1m .navbar,
#dropdown-menu-1m .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-1m .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1m .dropdown-menu a:hover,
#dropdown-menu-1m .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-1m .navbar-toggler {
  color: #080809;
}
#header1-1n H1 {
  font-size: 48px;
}

#dropdown-menu-12 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-12 .navbar-brand a {
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu-12 .nav .link,
#dropdown-menu-12 .dropdown-item {
  font-size: 1em;
  color: #080809;
}
#dropdown-menu-12 .navbar,
#dropdown-menu-12 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-12 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-12 .dropdown-menu a:hover,
#dropdown-menu-12 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-12 .navbar-toggler {
  color: #080809;
}
#header1-13 H1 {
  font-size: 48px;
}
